body {
	font-family:Verdana, Geneva, sans-serif;
}

h1 {
	color:blue;
}

#box {
  	width:200px;
 	height:200px;
  	display:none;
 	position:relative;
	background-color:red;
}

.bold {
 	font-weight:bold;
}

